# Dependencies
node_modules/

# Production builds
dist/
build/

# Environment variables
.env
.env.local
.env.*.local

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
lerna-debug.log*

# Testing
coverage/
.nyc_output/

# File uploads
uploads/

# IDE
.vscode/
.idea/
*.swp
*.swo
*~
.DS_Store

# Prisma
prisma/migrations/

# Misc
.cache/
.temp/

# Sonar
.sonar/
.sonarqube/
scanner-work/
